[Unit]
Description=unidbg-fetch-qsign
After=network.target

[Service]
WorkingDirectory=/opt/qsign
ExecStart=/opt/qsign/bin/unidbg-fetch-qsign --basePath=txlib/current
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
