[Unit]
Description=获取QQSign参数通过Unidbg，开放HTTP API。
After=network.target

[Service]
User=qsign
Environment="JAVA_HOME=/usr/lib/jvm/default"
WorkingDirectory=/opt/qsign
ExecStart=/usr/bin/env unidbg-fetch-qsign --basePath=txlib/current
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target

