[Unit]
Description=获取QQSign参数通过Unidbg，开放HTTP API。
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/unidbg-fetch-qsign
ExecStart=/opt/unidbg-fetch-qsign/bin/unidbg-fetch-qsign --basePath=txlib/current
Restart=always
User=%i

[Install]
WantedBy=multi-user.target
