[Unit]
Description=A rule based proxy in Go with dashboard.
After=network.target

[Service]
Type=simple
User=clash
Restart=on-abort
ExecStart=/usr/bin/clash -ext-ui /usr/share/clash-dashboard-git -ext-ctl 0.0.0.0:9090 -d /etc/clash
ExecReload=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
