[Unit]
Description=A rule based proxy in Go with dashboard.
After=network.target

[Service]
Type=simple
User=clash
Restart=on-abort
ExecStart=/usr/bin/clash -ext-ui /usr/share/clash-dashboard-git -d /etc/clash

[Install]
WantedBy=multi-user.target